footer {
    position: relative;
    width: 100%;
    height: 25vh;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-svg-wrapper {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.footer-svg-wrapper svg {
    position: relative;
    display: block;
    width: calc(134% + 1px);
    height: 92px;
}

.footer-svg-wrapper .shape-fill {
    fill: var(--primary);
}

#icon-wrapper {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#icon-wrapper a {
    color: #fff;
    text-decoration: none;
}

#icon-wrapper a i {
    width: var(--font-size-h2);
    height: var(--font-size-h2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h2);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 150ms ease-in-out;
}

#icon-wrapper a i:hover {
    color: var(--primary);
    border-color: var(--primary);
    background: #fff;
}

#copyright {
    position: absolute;
    bottom: 4vh;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 600px) {
    footer {
        justify-content: space-around;
    }

    #icon-wrapper {
        width: 80%;
    }

    #icon-wrapper a i {
        width: var(--font-size-h2);
        height: var(--font-size-h2);
        font-size: var(--font-size-h3);
    }

    #copyright {
        width: 90%;
        position: relative;
        font-size: .9rem;
    }
}

@media screen and (max-width: 400px) {
    footer {
        justify-content: space-around;
    }

    #icon-wrapper {
        width: 90%;
    }

    #icon-wrapper a i {
        width: var(--font-size-h3);
        height: var(--font-size-h3);
        font-size: var(--font-size-p);
    }

    #copyright {
        position: relative;
        font-size: .9rem;
    }
}