#contentWrapper {
  max-width: 75%;
  position: relative;
  top: 0;
  right: 0;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 0 25%;
  display: flex;
  justify-content: center;
}

#content {
  max-width: 55%;
  margin: 5%;
}

#content h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
}

#content h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
}

#images img {
  width: 25%;
}

/* .repo {
  width: 60%;
  position: absolute;
  border: #a3a3a3 solid 3px;
  border-radius: 10px;
  padding: 10px;
}

.repo p {
  text-align: left;
}

.repo h2 {
  text-align: left;
}

.repo button {
  outline: none;
  background-color: #dc5656;
  border-radius: 100px;
  border: #dc5656 solid 5px;
  margin: 5px;
  font-size: 110%;
  cursor: pointer;
  transform: scale(1);
  transition: all 1s linear;
}

.repo button:hover {
  transform: scale(1.1);
  cursor: pointer;
} */
