#gallerySection {
    height: auto;
    z-index: -1;
}

#images {
    width: 80vw;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

#images .column {
    width: 20vw;
    margin-right: 1.45rem;
    display: flex;
    flex-direction: column;
}

#images img {
    width: 100%;
    margin-bottom: 1.45rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    #images {
        flex-direction: column;
    }

    #images .column {
        width: 100%;
    }
}
