#gallerySection {
    height: auto;
    z-index: -1;
    image-rendering: optimizeSpeed;
}

#images {
    width: 80vw;
    user-select: none;
}

#images div {
    width: 100%;
    margin:  1vh 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#images img {
    width: 19.5vw;
    /* cursor: pointer; */
}

#images .panorama {
    width: 100%;
}

/* Slideshow */
#slideshowWrapper {
    width: 70vw;
    height: 70vh;
    position: fixed;
    top: 15vh;
    left: 15vw;
    background: white;
    border-radius: 3px;
    opacity: 0;
    transform: scale(1.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

#slideshowImages {
    width: 210vw;
    position: absolute;
    left: -70vw;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#slideshowImages img {
    width: 45vw;
    margin: 0 12.5vw;
    border-radius: 3px;
}

#slideshowImages .panorama {
    margin-top: 14vh;
    height: 25vh;
}

#disableSlideshow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000080;
    z-index: 2;
}

#previousImageBtn {
    position: absolute;
    left: 10vh;
    cursor: pointer;
    font-size: 2vw;
}

#nextImageBtn {
    position: absolute;
    right: 10vh;
    cursor: pointer;
    font-size: 2vw;
}

#close {
    position: absolute;
    top: 2vh;
    right: 2vw;
    cursor: pointer;
    font-size: 2vw;
}