body {
  overflow-y: scroll;
}

#contentWrapper {
  width: 70%;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px 0px 0px 29%;
}

#contentWrapper h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 250%;
}

.repo {
  width: 60%;
  position: relative;
  border: #a3a3a3 solid 3px;
  border-radius: 10px;
  padding: 10px;
}

.repo button {
  outline: none;
  background-color: #dc5656;
  border-radius: 100px;
  border: #dc5656 solid 5px;
  margin: 5px;
  font-size: 110%;
  cursor: pointer;
}
