body {
  overflow-y: scroll;
  width: 100vw;
}

#contentWrapper {
  max-width: 75%;
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 0 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contentWrapper h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  font-size: 250%;
  text-align: center;
}

.repo {
  width: 60%;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  top: 3vh;
  margin: 3vh auto 3vh auto;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
}

.repo p {
  text-align: left;
}

.repo h2 {
  text-align: left;
}

.repo button {
  outline: none;
  background-color: white;
  border-radius: 100px;
  border: #273747ba 2px solid;
  color: #273747ba;
  padding: 7px 25px 7px 25px;
  margin: 5px;
  font-size: 110%;
  cursor: pointer;
  user-select: none;
  transition: all 400ms ease-in-out;
}

.repo button:hover {
  color: white;
  background-color: #273747ba;
  border: #273747ba 2px solid;
}
