body {
  overflow-y: scroll;
  width: 100vw;
}

#contentWrapper {
  max-width: 75%;
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 0 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contentWrapper h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  font-size: 250%;
  text-align: center;
}

.repo {
  width: 60%;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  top: 3vh;
  margin: 3vh auto 3vh auto;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
  transition: top 400ms ease-in-out;
}

.repo p {
  text-align: left;
  margin: 1%;
}

.repo h2 {
  text-align: left;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-top: 0;
}

.repo img {
  width: 5vw;
  position: absolute;
  right: 1.5%;
  user-select: none;
}

.button {
  outline: none;
  background-color: white;
  border-radius: 100px;
  border: #273747ba 2px solid;
  color: #273747ba;
  padding: 7px 25px 7px 25px;
  margin-right: 20px;
  font-size: 110%;
  cursor: pointer;
  user-select: none;
  transition: all 400ms ease-in-out;
  text-decoration: none;
  display: inline;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.button:hover {
  color: white;
  background-color: #273747ba;
  border: #273747ba 2px solid;
}

/* addBtnWrapper */

#addBtnWrapper {
  display: none;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 100%;
  background-color: #273747ba;
  position: fixed;
  right: 2vw;
  bottom: 1vw;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

#addBtnWrapper i {
  font-size: 2vw;
  transition: 500ms transform ease-in-out;
}


/* addRepoWndw */

#addRepoWndw {
  width: 55vw;
  display: flex;
  border-radius: 15px;
  position: fixed;
  opacity: 0;
  right: -70vw;
  bottom: 5vw;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
  padding: 2.5%;
  font-family: 'Ubuntu Condensed', sans-serif;
  transition: 500ms all ease-in-out;
  /* transition: 500ms opacity ease-in-out; */
}

input {
  margin: 2% 0;
  outline: none;
  border: none;
  border-bottom: 2px solid lightgray;
  transition: border-bottom 300ms ease-in-out;
}

input:focus {
  border-bottom: 2px solid #273747ba;
}

#addRepoWndw button {
  min-width: 15%;
}

/* Search */

#searchWrapper {
  margin-bottom: -4%;
  user-select: none;
  background-color: white;
}

#searchWrapper input {
  width: 20%;
  position: relative;
  left: 43vw;
}

#searchWrapper i {
  position: relative;
  left: 43vw;
}

#filter {
  position: relative;
  left: 15vw !important;
  cursor: pointer;
}

#filterBar {
  position: relative;
  height: 5vh;
  width: 60%;
  left: 20%;
  transition: top 400ms ease-in-out;
  top: 6vh;
  z-index: -1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#filterBar p {
  cursor: pointer;
  transition: 250ms all ease-in-out;
}

#filterBar p:hover {
  color: #273747ba;
}