body {
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.hide {
    display: none !important;
}

.overflowHidden {
    overflow: hidden;
}

section {
    width: 100vw;
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.wholeScreen {
    min-height: 100vh;
}

#homeSection {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#homeSection h1 {
    font-size: 4vw;
    color: #fff;
    margin-bottom: 0;
}

#homeSection p {
    color: #fff;
    margin: 0;
    font-size: 1.5vw;
}

.buttonWrapper {
    width: 84vw;
    padding: 0 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.showMoreButton {
    color: cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-aspect-ratio: 1/1) {
    #homeSection h1 {
        font-size: 10vw;
    }

    #homeSection p {
        font-size: 5vw;
    }

    h1 {
        font-size: 7vw;
        margin-top: 8vh;
    }

    h2 {
        font-size: 5vw;
    }
}
