@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

aside {
  width: 100vw;
  height: 100vh;
  background-color: #273747;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: -110vh;
  color: white;
  font-size: 2.7vmin;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  z-index: 99;
  transition: top 600ms ease-in-out;
}

aside h1 {
  letter-spacing: 0.05em;
  margin-bottom: 2%;
  font-size: 8vmin;
}

aside h2 {
  opacity: 0.7;
  margin-top: 1%;
  margin-bottom: 6%;
  font-size: 4.8vmin;
}

aside #navBox {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-bottom: 3vh;
  position: relative;
  font-family: 'Assistant', sans-serif;
}

aside nav {
  line-height: 1em;
  text-align: left;
  text-transform: lowercase;
}

aside a p {
  font-size: 6vmin;
  margin-top: 4vh;
}

aside img {
  width: 65vw;
  margin-top: 5vh;
}

aside a:link {
  text-decoration: none;
  color: #c6c6c6;
  transition: color 0.35s linear;
}

aside nav a:hover {
  color: white;
}

aside a:visited {
  color: #c6c6c6;
}

aside a:focus {
  color: white;
  outline: none;
}

aside .icons {
  width: 70%;
  padding-top: 3vh;
  margin: 5vh auto 0 auto;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  user-select: none;
}

aside .icons i {
  color: #c6c6c6;
  transition: color 0.2s linear;
  font-size: 7vmin;
}

aside .icons i:hover {
  color: white;
}