@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

aside {
  width: 25vw;
  height: 100%;
  background-color: #273747;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  font-size: 2.7vmin;
  user-select: none;
  font-family: 'Raleway', sans-serif;
}

aside h1 {
  letter-spacing: 0.05em;
  margin-bottom: 2%;
  font-size: 4.5vmin;
}

aside h2 {
  opacity: 0.7;
  margin-top: 1%;
  margin-bottom: 6%;
  font-size: 100%;
}

aside #navBox {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-bottom: 3vh;
  position: relative;
  font-family: 'Assistant', sans-serif;
}

aside nav {
  line-height: 1em;
  text-align: left;
  text-transform: lowercase;
}

aside a p {
  font-size: 3vmin;
  margin-top: 8%;
}

aside img {
  width: 65%;
  position: relative;
  margin-top: 8vh;
}

aside a:link {
  text-decoration: none;
  color: #c6c6c6;
  transition: color 0.35s linear;
}

aside nav a:hover {
  color: white;
}

aside a:visited {
  color: #c6c6c6;
}

aside a:focus {
  color: white;
  outline: none;
}

aside .icons {
  border-top: 1px solid white;
  padding-top: 3vh;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: auto;
  user-select: none;
}

aside .icons i {
  /* margin: 10px; */
  color: #c6c6c6;
  transition: color 0.2s linear;
  font-size: 2.1vw;
}

aside .icons i:hover {
  color: white;
}