#skillWrapper {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skill {
    width: 20vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2.5vh 5vw;
}

.skill .skillHeadline {
    text-align: center;
}

.skill .skillHeadline i {
    font-size: 2.3vw;
    color: #03a87c;
}

@media screen and (max-aspect-ratio: 1/1) {
    #skillWrapper {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .skill {
        width: 75%;
    }

    .skill .skillHeadline i {
        font-size: 9vw;
    }
}
