#workWrapper {
    width: 200vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-transition: left 600ms ease-in-out;
    -o-transition: left 600ms ease-in-out;
    transition: left 600ms ease-in-out;
}

.workPart {
    width: 94vw;
    padding: 0 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.work {
    width: 20vw;
    padding: 2vw 2vw 1vw 2vw;
    border-radius: 7px;
    -webkit-box-shadow: 1px 1px 9px 0px #dbdbdb;
            box-shadow: 1px 1px 9px 0px #dbdbdb;
}

.workHeader {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 9px 0px #dbdbdb;
            box-shadow: 1px 1px 9px 0px #dbdbdb;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.workHeader img {
    width: 100%;
}

.workBody h1 {
    margin-bottom: 0;
}

.workBody p {
    margin-top: .75vh;
}

.workBody a {
    color: cornflowerblue;
    margin: 0 .3vw 0 .1vw;
    -webkit-transition: margin-right 300ms ease-in-out;
    -o-transition: margin-right 300ms ease-in-out;
    transition: margin-right 300ms ease-in-out;
}

.workBody a:hover {
    margin-right: .75vw;
}

#workButtonWrapper {
    width: 100%;
    height: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.currentWorkPart {
    width: .7rem;
    height: .7rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin: 0 .5vw;
    cursor: pointer;
    -webkit-transition: background 600ms ease-in-out;
    -o-transition: background 600ms ease-in-out;
    transition: background 600ms ease-in-out;
}

.currentWorkPart:nth-child(1) {
    background: lightgray;
}

@media screen and (max-aspect-ratio: 1/1) {
    #workWrapper {
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        left: 0;
    }

    #workButtonWrapper {
        display: none;
    }

    .work {
        width: 65vw;
        margin: 2vh 0;
    }

    .workPart {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .workBody h1 {
        margin-top: 0.4em;
        font-size: 6vw;
    }

    .workBody a {
        margin-right: 1.5vw;
    }

    .workBody a:hover {
        margin-right: 1.5vw;
    }
}
