{{ define "main" }}

<!-- Burger -->

{{ $data := index site.Data.homepage }}
{{ if $data.burger.enable}}
{{ with $data.burger }}

<div id='burgerBar'>
    <div id='menuWrapper'>
      {{ range .ids }}
      <div class='bar' id='{{ .id }}'></div>
      {{ end }}
    </div>
</div>

{{ end }}
{{ end }}

<!-- Burger-End -->


<!-- Navigation -->

{{ if $data.nav.enable}}
{{ with $data.nav }}

<nav>
    <span>{{ .name }}</span>

    <ul>
      {{ range .items}}
      <li id='{{ .id }}'>{{ .text }}</li>
      {{ end }}
    </ul>

    <p id='navCopyright'>{{ .copyright }}</p>
  </nav>

{{end}}
{{end}}

<!-- Navigation-End -->
{{end}}