{{ define "main" }}

<!-- Burger -->

{{ $data := index site.Data.homepage }}
{{ if $data.burger.enable}}
{{ with $data.burger }}

<div id='burgerBar'>
    <div id='menuWrapper'>
      {{ range .ids }}
      <div class='bar' id='{{ .id }}'></div>
      {{ end }}
    </div>
</div>

{{ end }}
{{ end }}

<!-- Burger - End -->


<!-- Navigation -->

{{ if $data.nav.enable}}
{{ with $data.nav }}

<nav>
    <span>{{ .name }}</span>

    <ul>
      {{ range .items}}
      <li id='{{ .id }}'>{{ .text }}</li>
      {{ end }}
    </ul>

    <p id='navCopyright'>{{ .copyright }}</p>
  </nav>

{{end}}
{{end}}

<!-- Navigation - End -->


<!-- HomeSection -->

{{ if $data.homeSection.enable}}
{{ with $data.homeSection }}

<section id='{{ .id }}' class='{{ .className }}' data-depth='{{ .depth }}'>
    <h1 data-aos='{{ .name.aos }}' data-aos-duration='{{ .name.aosDuration }}' data-aos-easing='{{ .name.aosEasing }}'>{{ .name.text }}</h1>
    <p data-aos='{{ .description.aos }}' data-aos-duration='{{ .description.aosDuration }}' data-aos-easing='{{ .description.aosEasing }}'>{{ .description.text }}</p>
</section>

{{ end }}
{{ end }}

<!-- HomeSection - End -->


<!-- AboutSection -->

{{ if $data.aboutSection.enable}}
{{ with $data.aboutSection }}

<section id='{{ .id }}' class='{{ .className }}'>
    <h1>{{ .name }}</h1>

    <div id="aboutContent">
        <div class="partOfAbout">
            {{ range .paragraphs}}
            <p>{{ .text }}</p>
            {{ end }}
        </div>

        <div class="partOfAbout">
            <img src="{{ .image.path | absURL }}" alt="{{ .image.alt }}">
        </div>
    </div>
</section>

{{ end }}
{{ end }}

<!-- AboutSection - End -->


<!-- SkillsSection -->

{{ if $data.skillsSection.enable}}
{{ with $data.skillsSection }}

<section id='{{ .id }}' class='{{ .className }}'>
    <h1>{{ .name }}</h1>

    <div id='skillWrapper'>
      {{ range .skills}}
      <div class='skill'>
        <div class='skillHeadline'>
          <i class='{{ .icon }}'></i>
          <h2>{{ .headline }}</h2>
        </div>
        <p>{{ .content }}</p>
      </div>
      {{ end }}
    </div>
</section>

{{ end }}
{{ end }}

<!-- SkillsSection - End -->

{{end}}