:root {
  --main-color: #BF702A;
  --second-color: #BF971F;
  --third-color: #354024;
  --fourth-color: #8C452B;
  --fifth-color: #593122;
  //--main-color: #03A87C;
  //--second-color: #3AB796;
  //--third-color: #027557;
  //--fourth-color: #0B5C46;
  //--fifth-color: #015C44;
  --black: #353535;
  --lightgray: #f2f2f2;

}

body {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.hide {
  display: none !important;
}
